{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "7.10"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-lodash",
    "syntax-dynamic-import",
    ["transform-class-properties", { "spec": true }]
  ]
}
